[submodule "external/gnu-efi"]
	path = external/gnu-efi
	url = https://github.com/ncroxon/gnu-efi.git
[submodule "external/dtc"]
	path = external/dtc
	url = https://git.kernel.org/pub/scm/utils/dtc/dtc.git
[submodule "external/sha1"]
	path = external/sha1
	url = https://github.com/clibs/sha1.git
